In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [5]:
#op = pd.read_csv('order_products__train.csv')
#opp = pd.read_csv('order_products__prior.zip')
aisles = pd.read_csv('aisles.csv')
departments = pd.read_csv('departments.csv')
orders = pd.read_csv('orders.csv')
products = pd.read_csv('products.csv')
tips_tr = pd.read_csv('tip_trainingsdaten.csv')
tips_te = pd.read_csv('tip_testdaten.csv')

In [8]:
tips_tr.head(5)

   Unnamed: 0  order_id  tip
0           0   2539329    1
1           1   2398795    1
2           2    473747    1
3           3   2254736    1
4           4    431534    1

In [9]:
tips_te.head()

   Unnamed: 0  order_id  tip
0          10   1187899  NaN
1          25   1492625  NaN
2          49   2196797  NaN
3          74    525192  NaN
4          78    880375  NaN

In [10]:
tips_tr = tips_tr.drop('Unnamed: 0', axis=1) # Die unnötige Spalte 'Unamed:0' entfernen
tips_te = tips_te.drop('Unnamed: 0', axis=1) # Die unnötige Spalte 'Unamed:0' entfernen

In [11]:
tips_te.head()

   order_id  tip
0   1187899  NaN
1   1492625  NaN
2   2196797  NaN
3    525192  NaN
4    880375  NaN

In [12]:

tips_tr.head()

   order_id  tip
0   2539329    1
1   2398795    1
2    473747    1
3   2254736    1
4    431534    1

In [13]:
instacart_train = tips_tr.merge(orders)
instacart_train.head()

,order_id,tip,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,prior,1,2,8,NaN
1,2398795,1,1,prior,2,3,7,15.0
2,473747,1,1,prior,3,3,12,21.0
3,2254736,1,1,prior,4,4,7,29.0
4,431534,1,1,prior,5,4,15,28.0

In [15]:
instacart_train.eval_set.value_counts()

prior    3214874
Name: eval_set, dtype: int64

In [19]:
instacart_test = tips_te.merge(orders)
instacart_test.head()

,order_id,tip,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1187899,NaN,1,train,11,4,8,14.0
1,1492625,NaN,2,train,15,1,11,30.0
2,2196797,NaN,5,train,5,0,11,6.0
3,525192,NaN,7,train,21,2,11,6.0
4,880375,NaN,8,train,4,1,14,10.0

In [20]:
instacart_test.eval_set.value_counts()

train    131209
Name: eval_set, dtype: int64

# Busines Understanding

# Data Understanding

# Data Preparation

- eval_set: Löschen, da kein Zusammenhang mit Zielvariable

- days_since_prior_oder: Null-Werte behandeln